/**
 * Border utilities
 */

$b-color: $gray-200;
$b-bg: $body-bg;
$b-bg-n: $navy;
$b-width-1: 1px;
$b-width-2: $border-width;

/* Regular border */

.b-1 { border: $b-width-1 solid $b-color !important; }
.bt-1 { border-top: $b-width-1 solid $b-color !important; }
.br-1 { border-right: $b-width-1 solid $b-color !important; }
.bb-1 { border-bottom: $b-width-1 solid $b-color !important; }
.bl-1 { border-left: $b-width-1 solid $b-color !important; }

.bx-1 {
  border-right: $b-width-1 solid $b-color !important;
  border-left: $b-width-1 solid $b-color !important;
}

.by-1 {
  border-top: $b-width-1 solid $b-color !important;
  border-bottom: $b-width-1 solid $b-color !important;
}

/* Larger border */

.b-2 { border: $b-width-2 solid $b-color !important; }
.bt-2 { border-top: $b-width-2 solid $b-color !important; }
.br-2 { border-right: $b-width-2 solid $b-color !important; }
.bb-2 { border-bottom: $b-width-2 solid $b-color !important; }
.bl-2 { border-left: $b-width-2 solid $b-color !important; }

.bx-2 {
  border-right: $b-width-2 solid $b-color !important;
  border-left: $b-width-2 solid $b-color !important;
}

.by-2 {
  border-top: $b-width-2 solid $b-color !important;
  border-bottom: $b-width-2 solid $b-color !important;
}

/* No border */

.b-0 { border: 0 !important; }
.bt-0 { border-top: 0 !important; }
.br-0 { border-right: 0 !important; }
.bb-0 { border-bottom: 0 !important; }
.bl-0 { border-left: 0 !important; }

.bx-0 {
  border-right: 0 !important;
  border-left: 0 !important;
}

.by-0 {
  border-top: 0 !important;
  border-bottom: 0 !important;
}

/* Border colors */

.b-bg { border-color: $b-bg !important; }
.bt-bg { border-top-color: $b-bg !important; }
.br-bg { border-right-color: $b-bg !important; }
.bb-bg { border-bottom-color: $b-bg !important; }
.bl-bg { border-left-color: $b-bg !important; }

.bx-bg {
  border-right-color: $b-bg !important;
  border-left-color: $b-bg !important;
}

.by-bg {
  border-top-color: $b-bg !important;
  border-bottom-color: $b-bg !important;
}

.b-bg-n { border-color: $b-bg-n !important; }
.bt-bg-n { border-top-color: $b-bg-n !important; }
.br-bg-n { border-right-color: $b-bg-n !important; }
.bb-bg-n { border-bottom-color: $b-bg-n !important; }
.bl-bg-n { border-left-color: $b-bg-n !important; }

.bx-bg-n {
  border-right-color: $b-bg-n !important;
  border-left-color: $b-bg-n !important;
}

.by-bg-n {
  border-top-color: $b-bg-n !important;
  border-bottom-color: $b-bg-n !important;
}
