/**
 * Link utilities
 */

/* Looks like link */

.link {
  @include reset-button();
  @include link();
}

/**
 * Complex link
 *
 * Good for having something like a "card" (.link-complex) linked but you only
 * want the card title (link-complex) to look and act like a link
 */

.link-complex,
.link-complex:active,
.link-complex:hover,
.link-complex:visited {
  @include reset-button();
  @include reset-link();
}

.link-complex {
  cursor: pointer;

  .link-complex-target {
    @include link-still();
  }

  /* link-complex-adaptive-target is like link-complex (& link-complex-target),
   * but the link does not get the default link styling, and instead gets the adaptive,
   * inherit styling.
   * Used in the header.
   */

  .link-complex-adaptive-target {
    @include link-still();
    @include reset-link();
  }

  &:hover .link-complex-target,
  &:focus .link-complex-target {
    @include link-hover-focus();
  }

  &:hover .link-complex-adaptive-target,
  &:focus .link-complex-adaptive-target {
    @include link-hover-focus();

    color: inherit;
  }

  &:hover .link-complex-target {
    @include link-hover();
  }

  &:hover .link-complex-adaptive-target {
    @include link-hover();

    color: inherit;
  }

  &:active .link-complex-target {
    @include link-active();
  }

  &:active .link-complex-adaptive-target {
    @include link-active();

    color: inherit;
  }
}

/**
 * Adaptive link
 *
 * Looks like regular text until interaction
 */

.link-adaptive {
  @extend .link;

  text-decoration: none;
}

.link-adaptive,
.link-adaptive:hover,
.link-adaptive:focus,
.link-adaptive:active {
  color: inherit;
}

/**
 * Fair enough
 */

.cursor-pointer:not([disabled]) {
  cursor: pointer !important;
}

/**
 * Reset link but keep active state.
 */

.link-no-underline,
.link-no-underline:hover,
.link-no-underline:focus,
.link-no-underline:active {
  text-decoration: none !important;
}

.link-dark {
  color: $link-color-dark;

  &:hover {
    color: $link-hover-color-dark;
  }
}

/**
 * If you want to add transition to your link.
 */

.link-transition {
  transition: 200ms linear;
  transition-property: all;
}

/**
 * If you want a link with an icon
 */

.icon-link-text-underline {
  text-decoration: underline;
  text-underline-position: under;
}

.icon-link,
.icon-link:hover,
.icon-link:focus {
  text-decoration: none;
}

.icon-link:hover,
.icon-link:focus {
  > .icon-link-text {
    text-decoration: underline;
  }
}
