/**
 * Reset/clean styles
 */

.reset-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.reset-link {
  @include reset-link();
}

.reset-button {
  @include reset-button();
}

.reset-table th,
.reset-table td {
  padding: 0;
  margin: 0;
  border: 0;
}

.reset-text {
  margin: initial;
  font: inherit;
  color: inherit;
}

/**
 * Have an interactive element blend into the UI
 */

.reset-interaction {
  cursor: default;
  user-select: none;
}
