/* stylelint-disable no-duplicate-selectors */

/**
 * Readme
 *
 * - This file includes variables configuring Bootstrap global and component
 *   settings.
 * - After this file, we import the default Bootstrap variable file that fills
 *   in the blanks. Bootstrap tend to define their variable definitions with
 *   the !default flag: if anything is defined here, that will be used instead.
 * - We are working on moving component related variables into their specific
 *   component scss file instead of grouping it all in this file.
 * - Once that is done, this file should contain only globally generic
 *   variables such as non-semantic colors, font settings and spacings.
 * - Moving forward, components that wish to access variables defined in
 *   another component will have to import those requirements internally. The
 *   build step will make sure we don't get any duplicate scss.
 *
 * SCSS variable naming convention: $component-modifier-state-property
 * CSS custom property naming convention: --component-modifier-state-property
 */

/**
 * Initial config, that consumers may want to change
 * –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
 */

/* SCSS custom properties scooping */
$prefix: "" !default;

/**
 * Non-semantic colors
 * –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
 */

$wine: #ad1015;
$red: #e30613;
$pink: #FCD2D3;
$green: #1B5E20;
$mint: #e5fff0;
$orange: #fdd835;
$yellow: #ffffd6;
$navy: #00427a;
$blue: #005aa0;
$sky: #76bbe7;
$baby: #badaf3;
$water: #e5eff7;
$cloud: #eff4f9;
$mist: #f9fbfd;
$black: #222;
$gray: #6b7070;
$aluminium: #8C8F90;
$silver: #b1b3b6;
$smoke: #d9d9d9;
$shadow: #e5e5e5;
$tint: #f3f3f3;
$white: #fff;
$offwhite: #fafafa;

/* Used only by Bootstrap */
$gray-100: $smoke;
$gray-200: $smoke;
$gray-300: $smoke;
$gray-400: $smoke;
$gray-500: $silver;
$gray-600: $silver;
$gray-700: $gray;
$gray-800: $gray;
$gray-900: $black;
$grays: (
  100: $gray-100,
  200: $gray-200,
  300: $gray-300,
  400: $gray-400,
  500: $gray-500,
  600: $gray-600,
  700: $gray-700,
  800: $gray-800,
  900: $gray-900
);

/* Expose as CSS custom properties */
:root {
  --#{$prefix}wine: #{$wine};
  --#{$prefix}red: #{$red};
  --#{$prefix}pink: #{$pink};
  --#{$prefix}green: #{$green};
  --#{$prefix}mint: #{$mint};
  --#{$prefix}orange: #{$orange};
  --#{$prefix}yellow: #{$yellow};
  --#{$prefix}navy: #{$navy};
  --#{$prefix}blue: #{$blue};
  --#{$prefix}sky: #{$sky};
  --#{$prefix}baby: #{$baby};
  --#{$prefix}mist: #{$mist};
  --#{$prefix}cloud: #{$cloud};
  --#{$prefix}mist: #{$mist};
  --#{$prefix}black: #{$black};

  --#{$prefix}gray: #{$gray};
  --#{$prefix}aluminium: #{$aluminium};
  --#{$prefix}silver: #{$silver};
  --#{$prefix}smoke: #{$smoke};
  --#{$prefix}shadow: #{$shadow};
  --#{$prefix}tint: #{$tint};
  --#{$prefix}white: #{$white};
}

:root {
  --lf-font-family-sans-serif: "Intro Cond", arial, "Helvetica Neue", sans-serif, system-ui, -apple-system, "Segoe UI", roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --lf-font-family-serif: "LF Rubrik", georgia, "Times New Roman", times, serif;
}

/**
 * Semantic colors
 * –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
 */

$body-bg: $tint;
$body-color: $black;

$color-info: $blue;
$color-info-light: $water;
$color-success: $green;
$color-success-light: $mint;
$color-warning: $orange;
$color-warning-light: $yellow;
$color-danger: $wine;
$color-danger-light: $pink;

$color-risk-0: #515151;
$color-risk-1: #2a7fd4;
$color-risk-2: #389fb9;
$color-risk-3: #8dba84;
$color-risk-4: #b8be34;
$color-risk-5: #fdb514;
$color-risk-6: #ed7721;
$color-risk-7: #ce161d;

/* To-do: rename */
$login-logout-blue: #007db0;

/* Used only by Bootstrap */
$theme-colors: (
  primary: $blue,
  secondary: $red,
  info: $color-info,
  success: $color-success,
  warning: $color-warning,
  danger: $color-danger,
  light: $gray-100,
  dark: $gray-800
);

/* Expose as CSS custom properties */
:root {
  --#{$prefix}color-body: #{$body-color};

  --#{$prefix}color-info: #{$color-info};
  --#{$prefix}color-info-light: #{$color-info-light};
  --#{$prefix}color-success: #{$color-success};
  --#{$prefix}color-success-light: #{$color-success-light};
  --#{$prefix}color-warning: #{$color-warning};
  --#{$prefix}color-warning-light: #{$color-warning-light};
  --#{$prefix}color-danger: #{$color-danger};
  --#{$prefix}color-danger-light: #{$color-danger-light};
  --#{$prefix}color-risk-0: #{$color-risk-0};
  --#{$prefix}color-risk-1: #{$color-risk-1};
  --#{$prefix}color-risk-2: #{$color-risk-2};
  --#{$prefix}color-risk-3: #{$color-risk-3};
  --#{$prefix}color-risk-4: #{$color-risk-4};
  --#{$prefix}color-risk-5: #{$color-risk-5};
  --#{$prefix}color-risk-6: #{$color-risk-6};
  --#{$prefix}color-risk-7: #{$color-risk-7};
  --#{$prefix}login-logout-blue: #{$login-logout-blue};
}

/**
 * Custom easing curves
 * –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
 */

:root {
  --ease-in: cubic-bezier(0.4, 0, 1, 1);
  --ease-out: cubic-bezier(0, 0, 0.2, 1);
  --ease: cubic-bezier(0.4, 0, 0.2, 1);
}

/**
 * Borders
 * –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
 */
:root {
    --border-radius-md: .25rem;
    --border-radius-lg: .375rem;
    --border-radius-xl: .5rem;
}


/**
 * Sizes
 * –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
 */
:root {
    --size-0_5: 0.125rem;
    --size-1: 0.25rem;
    --size-1_5: 0.375rem;
    --size-2: 0.5rem; // 4
    --size-2_5: 0.625rem;
    --size-3: 0.75rem;
    --size-3_5: 0.875rem;
    --size-4: 1rem; // 8
    --size-5: 1.25rem;
    --size-6: 1.5rem;
    --size-7: 1.75rem;
    --size-8: 2rem;
    --size-9: 2.25rem;
    --size-10: 2.5rem;
}



/**
 * Bootstrap configuration
 * –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
 */

$enable-validation-icons: false;
$enable-caret: false;
$enable-rounded: false;
$enable-transitions: false;
$enable-cssgrid: false;
$enable-negative-margins: true;
$enable-important-utilities: true;
$enable-rfs: false;

$min-contrast-ratio: 4.5;
$color-contrast-dark: $black;
$color-contrast-light: $white;

$spacer: 1rem;
$spacers: (
  0: 0,
  "025": ($spacer * .25),
  "03": ($spacer * .3),
  "05": ($spacer * .5),
  "08": ($spacer * .75),
  "075": ($spacer * .75),
  1: $spacer,
  15: ($spacer * 1.5),
  2: ($spacer * 2),
  23: ($spacer * 2.3),
  3: ($spacer * 3),
);

$position-values: (
  0: 0,
  50: 50%,
  100: 100%
) !default;

$aspect-ratios: (
  "1x1": 100%,
  "4x3": calc(3 / 4 * 100%),
  "16x9": calc(9 / 16 * 100%),
  "21x9": calc(9 / 21 * 100%)
) !default;


$paragraph-margin-bottom: 1rem;

$link-color: $blue;
$link-decoration: underline;
$link-hover-color: darken($link-color, 15%);
$link-hover-decoration: underline;
$link-shade-percentage: 20%;

$line-height-lg: 1.3333333333;

$border-width: 2px;
$border-color: $gray-200;
$border-widths: (
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px
) !default;

$border-radius: .25rem;
$border-radius-lg: .375rem;
$border-radius-xl: var(--border-radius-xl, .425rem);
$border-radius-sm: $border-radius;

$component-active-color: $white;
$component-active-bg: $blue;

/* Change something with grids? */
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

/* Adding xxl */
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1662px
);

/* From BS5 */
$grid-columns:                12 !default;
$grid-gutter-width:           1.875rem;
$grid-row-columns:            6 !default;
$container-padding-x: $grid-gutter-width !default;

/**
 * Typography
 */

$font-family-sans-serif: var(--lf-font-family-sans-serif);
$font-family-serif: var(--lf-font-family-serif);
$font-family-base: arial, "Helvetica Neue", sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$font-size-xl: 1.25rem;
$font-size-lg: 1.125rem;
$font-size-md: 1rem;
$font-size-sm: .875rem;
$font-size-xs: .75rem;

$line-height-base: 1.45;

/* Expose as CSS custom properties */
:root {
  --#{$prefix}font-family-sans-serif: #{$font-family-sans-serif};
  --#{$prefix}font-family-serif: #{$font-family-serif};
  --#{$prefix}font-family-base: #{$font-family-base};
  --#{$prefix}font-family-monospace: #{$font-family-monospace};
  --#{$prefix}font-size-xl: #{$font-size-xl};
  --#{$prefix}font-size-lg: #{$font-size-lg};
  --#{$prefix}font-size-md: #{$font-size-md};
  --#{$prefix}font-size-sm: #{$font-size-sm};
  --#{$prefix}font-size-xs: #{$font-size-xs};
  --#{$prefix}font-line-height: #{$line-height-base};
}

$h1-font-size: 2.5rem;
$h2-font-size: 1.8125rem;
$h3-font-size: 1.4375rem;
$h4-font-size: 1.25rem;
$h5-font-size: 1.125rem;
$h6-font-size: .75rem;

$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size
) !default;

$headings-font-family: $font-family-sans-serif;
$headings-font-weight: 700;
$font-weight-semibold: 500;
$headings-line-height: 1.1;
$headings-color: $navy;

$display1-size: 3.75rem;
$display2-size: 3.125rem;
$display3-size: 2.5rem;
$display4-size: 2.25rem;

$display1-weight: normal;
$display2-weight: normal;
$display3-weight: normal;
$display4-weight: normal;
$display-line-height: 1;

$lead-font-size: 1.375rem;
$lead-font-weight: 400;

$text-muted: $gray;

$blockquote-small-color: $gray;

$hr-border-color: $gray-200;
$hr-border-width: $border-width;
$hr-opacity: .18;

$list-inline-padding: 5px;

$mark-bg: $orange;

/**
 * Components
 * To-do: To be moved to each component SCSS file
 */

$table-cell-padding-y: .75rem;
$table-cell-padding: calc(#{$table-cell-padding-y} + 1px) 1.25rem calc(#{$table-cell-padding-y} - 1px);
$table-cell-padding-sm: .5625rem 1.25rem;
$table-bg: $white;
$table-accent-bg: $offwhite;
$table-hover-bg: $mist;
$table-active-bg: $cloud;
$table-border-color: $body-bg;
$table-footer-color: $table-accent-bg;
$table-head-bg: $white;
$table-head-color: $black;
$table-dark-bg: $gray-900;
$table-dark-accent-bg: rgba($white, .05);
$table-dark-hover-bg: rgba($white, .075);
$table-dark-border-color: lighten($gray-900, 7.5%);
$table-dark-color: $body-bg;

$btn-font-weight: 700;
$btn-box-shadow: none;
$btn-focus-box-shadow: 0 0 0 rgba(0, 0, 0, 10%);
$btn-active-box-shadow: none;
$btn-transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
$btn-primary-color: $white;
$btn-primary-bg: $wine;
$btn-primary-border: $wine;
$btn-primary-bg-hover: #910c19;
$btn-primary-bg-pressed: #7a0b16;
$btn-secondary-color: $white;
$btn-secondary-border: $navy;
$btn-secondary-bg-hover: $navy;
$btn-secondary-border-hover: #00325c;
$btn-secondary-bg-pressed: #f2f7fb;
$btn-info-color: $color-info;
$btn-info-bg: $color-info-light;
$btn-info-border: $color-info;
$btn-info-border-hover: $color-info;
$btn-info-bg-pressed: mix($color-info, $color-info-light, 15%);
$btn-success-color: $color-success;
$btn-success-bg: $color-success-light;
$btn-success-border: $color-success;
$btn-success-border-hover: $color-success;
$btn-success-bg-pressed: mix($color-success, $color-success-light, 15%);
$btn-warning-color: $color-warning;
$btn-warning-bg: $color-warning-light;
$btn-warning-border: $color-warning;
$btn-warning-border-hover: $color-warning;
$btn-warning-bg-pressed: mix($color-warning, $color-warning-light, 15%);
$btn-danger-color: $color-danger;
$btn-danger-bg: $color-danger-light;
$btn-danger-border: $color-danger;
$btn-danger-border-hover: $color-danger;
$btn-danger-bg-pressed: mix($color-danger, $color-danger-light, 15%);
$btn-login-logout-bg: $login-logout-blue;
$btn-login-logout-bg-hover: darken($login-logout-blue, 6%);
$btn-login-logout-bg-pressed: darken($login-logout-blue, 11%);

$input-btn-padding-x: 1rem;
$input-btn-padding-y: .5rem;
$input-btn-line-height: 1.34;
$input-btn-padding-x-sm: .75rem;
$input-btn-padding-y-sm: .25rem;
$input-btn-line-height-sm: 1.5;
$input-btn-padding-x-lg: 1.25rem;
$input-btn-padding-y-lg: .625rem;
$input-btn-line-height-lg: 1.2;
$input-btn-focus-width: .2rem;
$input-btn-focus-color: rgba($blue, .25);
$input-btn-focus-box-shadow: none;

$input-bg: $body-bg;
$input-white-bg: $white;
$input-white-bg-hover: #fbfbfb;
$input-disabled-bg: $smoke;
$input-color: $body-color;
$input-border-color: $gray-200;
$input-box-shadow: none;
$input-focus-border-color: $blue;
$input-focus-box-shadow: $input-box-shadow, 0 0 8px rgba(102, 175, 233, 60%);
$input-focus-color: $body-color;
$input-placeholder-color: $gray;

:root {
  --input-bg: #{$input-bg};
  --input-focus-bg: #{$tint};
}

$input-padding-x: .75rem;
$input-padding-y: .563rem;
$input-padding-top: .663rem;
$input-padding-right: .75rem;
$input-padding-bottom: .463rem;
$input-padding-left: .75rem;
$input-padding: $input-padding-top $input-padding-right $input-padding-bottom $input-padding-left;

$input-border-width: $border-width;
$input-btn-border-width: $border-width;
$input-height-border: $input-border-width * 2;
$input-height: 40px;
$input-height-inner-sm: ($font-size-sm * $input-btn-line-height-sm) + ($input-btn-padding-y-sm * 2);
$input-height-sm: calc(#{$input-height-inner-sm} + #{$input-height-border});
$input-height-inner-lg: ($font-size-lg * $input-btn-line-height-lg) + ($input-btn-padding-y-lg * 2);
$input-height-lg: calc(#{$input-height-inner-lg} + #{$input-height-border});

$input-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
$form-check-input-margin-y: .25rem;
$input-line-height: 1.25;
$input-hover: #ececec;
$input-valid-hover: #e5ecf5;

$input-group-addon-bg: $input-bg;
$input-group-addon-border-color: $gray-200;

$input-group-addon-focus-border-color: $blue;
$input-group-addon-min-width: 2.9rem;
$cursor-disabled: not-allowed;

$custom-control-gutter: 1.75rem;
$custom-control-spacer-x: 1.25rem;
$custom-control-spacer-y: .625rem;
$custom-control-indicator-size: 1.13rem;
$custom-control-indicator-bg: $white;
$custom-control-indicator-bg-size: 70% 70%;
$custom-control-indicator-box-shadow: inset 0 .25rem .25rem rgba(0, 0, 0, 10%);
$custom-control-indicator-disabled-bg: $white;
$custom-control-description-disabled-color: #767676;
$custom-control-indicator-checked-color: $blue;
$custom-control-indicator-checked-bg: $white;
$custom-control-indicator-checked-disabled-bg: none;
$custom-control-indicator-focus-box-shadow: 0 0 0 .075rem $white, 0 0 0 .2rem #0074d9;
$custom-control-indicator-active-color: $white;
$custom-control-indicator-active-bg: $white;

$custom-checkbox-indicator-icon-checked: url('data:image/svg+xml;charset=UTF-8,%3Csvg width="13" height="10" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M10.9 0 4.3 6.9 1.4 3.8 0 5.3l4.3 4.6 8-8.4z" fill="%23005AA0" fill-rule="evenodd"/%3E%3C/svg%3E');

$custom-radio-indicator-icon-checked: none;

$custom-file-height: $input-height;
$custom-file-width: 14rem;
$custom-file-focus-box-shadow: 0 0 0 .075rem $white, 0 0 0 .2rem #0074d9;

$custom-file-padding-y: 1rem;
$custom-file-padding-x: $input-padding-right;
$custom-file-line-height: $input-line-height;
$custom-file-color: $input-color;
$custom-file-bg: $input-bg;
$custom-file-border-width: $border-width;
$custom-file-border-color: #ddd;
$custom-file-border-radius: $border-radius;
$custom-file-box-shadow: inset 0 .2rem .4rem rgba(0, 0, 0, 5%);
$custom-file-button-color: $custom-file-color;
$custom-file-button-bg: transparent;
$custom-file-text: (
  sv: "Välj fil…",
  en: "Choose file…"
);
$custom-file-text-multiple: (
  sv: "filer",
  en: "files"
);

$distribution-duration: 1000ms;


$dropdown-margin-top: 0;
$dropdown-bg: $white;
$dropdown-border-color: $blue;
$dropdown-border-width: $border-width;
$dropdown-divider-bg: $shadow;
$dropdown-box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 17.5%);
$dropdown-link-color: $gray-900;
$dropdown-link-hover-color: darken($gray-900, 5%);
$dropdown-link-hover-bg: #f5f5f5;
$dropdown-link-disabled-color: $gray-600;
$dropdown-item-padding-y: .25rem;
$dropdown-item-padding-x: 1.5rem;
$dropdown-header-color: $gray-600;

$pagination-padding-y: .3rem;
$pagination-padding-x: .9rem;
$pagination-padding-y-sm: $pagination-padding-y;
$pagination-padding-x-sm: $pagination-padding-x;
$pagination-padding-y-lg: $pagination-padding-y;
$pagination-padding-x-lg: $pagination-padding-x;
$pagination-line-height: 1.45;
$pagination-color: $link-color;
$pagination-bg: $white;
$pagination-border-width: 0;
$pagination-border-color: currentcolor;
$pagination-hover-color: $link-hover-color;
$pagination-hover-bg: $white;
$pagination-hover-border-color: currentcolor;
$pagination-active-color: $white;
$pagination-active-bg: $blue;
$pagination-active-border-color: $white;
$pagination-disabled-color: $gray-600;
$pagination-disabled-bg: $white;
$pagination-disabled-border-color: currentcolor;

$pattern-diagonal-stripes-gray-stripes: $shadow;
$pattern-diagonal-stripes-gray-bg: #ececec;
$pattern-diagonal-stripes-gray-border: $shadow;
$pattern-diagonal-stripes-gray-font-color: $black;

$card-spacer-y: 1rem;
$card-spacer-x: 1.25rem;
$card-border-width: 0;
$card-cap-bg: $white;
$card-block-padding: 1rem 1.25rem 1.5rem;
$card-footer-padding: 1.25rem 1.25rem 1.5rem;
$card-deck-margin: .625rem;

$tooltip-padding-y: 3px;
$tooltip-padding-x: 8px;
$tooltip-margin: 3px;
$tooltip-arrow-width: 5px;
$tooltip-arrow-height: 5px;

$popover-max-width: 300px;
$popover-border-width: 0;
$popover-box-shadow: 0 5px 10px rgba(0, 0, 0, 20%);
$popover-title-color: $gray;
$popover-header-padding-y: 8px;
$popover-header-padding-x: 14px;
$popover-body-padding-y: 9px;
$popover-body-padding-x: 14px;
$popover-arrow-width: 0;
$popover-arrow-height: 5px;

$transition-base:             all .2s ease-in-out !default;
$transition-fade:             opacity .15s linear !default;
$transition-collapse:         height .35s ease !default;
$transition-collapse-width:   width .35s ease !default;

// Badges

$badge-color: $white;
$badge-default-bg: $orange;
$badge-primary-bg: #dcddde;
$badge-success-bg: $color-success-light;
$badge-info-bg: $color-info-light;
$badge-warning-bg: $color-warning-light;
$badge-danger-bg: $color-danger-light;

$range-slider-bg: $smoke;
$range-slider-height: 4px;
$range-slider-thumb-size: 1.13rem;
$range-slider-thumb-bg: $white;

$spinner-animation-curve: cubic-bezier(.53, 0, .49, 1);
$spinner-size: 60px;
$spinner-animation-time: 1.9s;

$modal-inner-padding: 1.9rem;
$modal-dialog-margin: 10px;
$modal-dialog-margin-y-sm-up: 30px;
$modal-title-line-height: 1.3;
$modal-content-box-shadow-xs: 0 3px 9px rgba(0, 0, 0, 50%);
$modal-content-box-shadow-sm-up: 0 5px 15px rgba(0, 0, 0, 50%);
$modal-backdrop-bg: #000;
$modal-header-border-color: $shadow;
$modal-header-border-width: 0;
$modal-header-padding: 1.5rem $modal-inner-padding;
$modal-lg: 900px;
$modal-md: 523px;

$list-group-border-color: #ddd;
$list-group-hover-bg: #f5f5f5;
$list-group-disabled-bg: $gray-200;

$breadcrumb-bg: $white;
$breadcrumb-divider-color: #6d6e71;
$breadcrumb-active-color: #6d6e71;
$breadcrumb-divider: "";

$code-padding-y: .2rem;
$code-padding-x: .4rem;
$code-color: $navy;
$code-bg: $cloud;

$kbd-bg: #333;

$alert-padding-y: .9375rem;
$alert-padding-x: 1.5rem;
$alert-padding-y-small: 1rem;
$alert-padding-x-small: 1rem;
$alert-margin-bottom: .5rem;
$alert-border-radius: $border-radius-xl !default;
$alert-border-width: 0px;
$alert-bg-scale: -80% !default;
$alert-border-scale: -70% !default;
$alert-color-scale: 40% !default;
$alert-dismissible-padding-r: $alert-padding-x * 2;

/**
 * Our own global helper variables
 * –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
 */

/* Restrain max line width of text */
$legible-width: 36em;

/* Not sure, something with links */
$stretched-link-pseudo-element: after;
$stretched-link-z-index: 1;

/* Added link version */
$link-color-dark: $navy;
$link-hover-color-dark: #00325c;

/* Adding new grid gutters */
$grid-gutter: 1.875rem;
$grid-gutter-tight: 1.25rem;

/* Characters which are escaped escape-svg func. Remove when moving to BS5 */
$escaped-characters: (
  ("<", "%3c"),
  (">", "%3e"),
  ("#", "%23"),
  ("(", "%28"),
  (")", "%29"),
);
